<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Villa Agency - Real Estate HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-villa-agency.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!--

    TemplateMo 591 villa agency

    https://templatemo.com/tm-591-villa-agency

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <ul class="info">
                        <li><i class="fa fa-envelope"></i>farmstayhub@gmail.com</li>
                        <li><i class="fa fa-map"></i>Surat, 395006</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                    <ul class="social-links">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://x.com/minthu" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <h1>Villa</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a asp-action="Index" asp-controller="Home" class="active">Home</a></li>
                            <li><a asp-action="Propertis" asp-controller="Home">Properties</a></li>
                            <li><a asp-action="About" asp-controller="Home">About</a></li>
                            <li><a asp-action="Blog" asp-controller="Home">Blog</a></li>
                            <li><a asp-action="Contact" asp-controller="Home">Contact Us</a></li>
                            @{
                                int user_id = 0;
                                var message = TempData["user_login_id"] as string;

                                if (!string.IsNullOrEmpty(message))
                                {
                                    user_id = Convert.ToInt32(TempData.Peek("user_login_id").ToString());
                                }
                               
                                if (user_id!=0)
                                {
                                        <li><a asp-action="Logout" asp-controller="Home">Logout </a></li>

                                }
                                else
                                {
                                    <li><a asp-action="Login" asp-controller="Home">Login </a></li>

                                }
                            }

                            <li><a asp-action="Index" asp-controller="Owner"><i class="fa fa-user-tie"></i> Log-in Owner</a></li>
                            <li><a href="#"><i class="fa fa-circle-user"></i> Users Details</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

                            @RenderBody()

    <footer>
        <div class="container">
            <div class="col-lg-8">
                <p>
                    Copyright © 2048 Villa Agency Co., Ltd. All rights reserved.

                    Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a>
                </p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/counter.js"></script>
    <script src="~/assets/js/custom.js"></script>

    @* <script type="text/javascript" src="~/files/js/jquery-1.11.1.min.js"></script> *@
    @* <script type="text/javascript" src="~/files/js/bootstrap.min.js"></script> *@
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    @* <script src="~/files/rs-plugin/js/jquery.themepunch.tools.min.js"></script> *@
    @* <script src="~/files/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> *@

    @* <script type="text/javascript" src="~/files/js/plugins.js"></script> *@
    @* <script type="text/javascript" src="~/files/js/custom.js"></script> *@

    @* <script> *@
    @*     $(document).ready(function(){ *@
    @*         $('owl-carousel').owlCarousel({ *@
    @*             items: 1, *@
    @*         }) *@
    @*     }) *@
    @* </script> *@

</body>
</html>