
@{
    ViewData["Title"] = "Add_City";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Add City</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Add City</li>
                    </ol>
                </div>
            </div>
        </div>
        <h5 style="margin:10px; color:red;"></h5>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-dark">
                        <div class="card-header"></div>
                        <form method="post" enctype="multipart/form-data" id="frm">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="city_name">City Name</label>
                                    <input type="text" name="city" class="form-control" id="city_name" placeholder="Enter city name">
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-dark" onclick="return validateForm()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script> 
    function validateForm() { 
        var cityName = document.getElementById("city_name").value; 
        var errorMsg = document.getElementById("error_msg"); 
        
        if (cityName == "") 
        { 
            errorMsg.style.display = "block"; 
            return false; 
        } 
        else 
        { 
            errorMsg.style.display = "none"; 
            return true; 
        } 
    } 
</script>
